<div class="brand ktr-column-2">
    <h1>Brand</h1>
</div>
<div class="header-actions ktr-column-10">
    <p>
        <span class="price total-cart"></span>
        <i class="icon-bag"></i>
        <small class="total-bag">0</small>
    </p>
    <p>
        <i class="icon-wish"></i>
        <small class="total-wished">0</small>
    </p>
</div>