.button{
    display: block;
    padding: 13px 0;
    margin: 20px 20px 25px;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    font: 13px 'latobold';
    color: $buttonColor;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    &:hover{
        background: $buttonColor;
        border-color: #444;
        color: #fff;
    }

    &.in-cart{
        background: #d9d9d9;
        color: $buttonColor;
        border-color: #d9d9d9;
    }
}