@font-face {
    font-family: 'latobold';
    src: url('../assets/font/lato-bold-webfont.woff2') format('woff2'),
         url('../assets/font/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold_italic';
    src: url('../assets/font/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/font/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoitalic';
    src: url('../assets/font/lato-italic-webfont.woff2') format('woff2'),
         url('../assets/font/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../assets/font/lato-regular-webfont.woff2') format('woff2'),
         url('../assets/font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}