// Code Snippets
@import '_helpers/reset';
@import '_helpers/grid';
@import '_helpers/fonts';
@import '_helpers/colors';
@import '_helpers/buttons';

// App Sections
@import '_sections/header';
@import '_sections/list';
@import '_sections/pagination';
@import '_sections/footer';

html,
body{
    height: 100%;
    background: #eee;
}