@import 'compass/css3/inline-block';

#header{
    padding: 18px 40px;
    background: #fff;

    .brand,
    .header-actions{
        @include inline-block;
        padding: 0;
        margin: 0;
    }

    .header-actions{
        text-align: right;
        float: right;
    }

    h1{
        margin: 0;
        font: 15px 'latoregular';
        text-transform: uppercase;
    }

    p{
        font-family: 'latoregular';
        @include inline-block;
        margin: 0 0 0 10px;
    }

    .price{
        font-size: 12px;
        color: #444a59;
        line-height: 15px;
        @include inline-block;
    }

    .icon-bag,
    .icon-wish{
        @include inline-block;
    }

    .icon-bag{
        background: #fff url(../assets/images/bag.svg) center center no-repeat;
        width: 17px;
        height: 17px;   
    }

    .icon-wish{
        background: #fff url(../assets/images/wishlist.svg) center center no-repeat;
        width: 20px;
        height: 20px;   
    }

    .total-wished,
    .total-bag{
        font: 8px 'latobold';
        line-height: 10px;
        color: #fff;
        background: $badgeCounter;
        padding: 4px 6px;
        border-radius: 100px;
        position: relative;
        top: -10px;
        left: -2px;
    }
}

@media only screen and (max-device-width : 667px) {
    #header .brand{
        width: 30%;
    }

    #header .header-actions{
        width: 70%;
    }
}