@import 'compass/css3/inline-block';

#list{
    padding: 40px;

    .list--item{
        padding: 20px;
        background: #fff;
        position: relative;

        .item--wished{
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background: #fff url(../assets/images/wishlist.svg) center center no-repeat;
            width: 20px;
            height: 20px;
            padding: 10px;
            border: 1px solid $itemWishBorder;
            border-radius: 100px;
            cursor: pointer;
            opacity: .3;

            &:hover{
                opacity: 1;
            }
        }

        .item--wished__favorite{
            opacity: 1;
        }

        img{
            max-width: 100%;
        }

        h1,
        p{
            padding: 10px 0;
            margin: 0;
            text-align: center;
        }

        h1{
            font: 15px 'latobold';
            color: $titleColor;
            text-transform: uppercase;
        }

        p{
            font: 13px 'latoregular';
            color: $textColor;

            &.price{
                font-size: 12px;
                color: #444a59;
                line-height: 15px;
            }

            .older-price{
                color: red;
                text-decoration: line-through;
                display: inline-block;
                padding-left: 10px;
            }
        }
    }
}

@media only screen and (max-device-width : 667px) {
    #list .list--item{
        margin-bottom: 20px;
    }
}