@import 'compass/css3/inline-block';

#pagination{
    padding: 0 40px 50px;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    li{
        @include inline-block;

        a{
            font: 13px 'latobold';
            color: $titleColor;
            text-decoration: none;
            display: block;
            line-height: 16px;
            padding-right: 45px;

            &:hover{
                text-decoration: underline;
            }
        }

        .prev,
        .next{
            width: 6px;
            height: 10px;
        }

        .prev{
            background: url(../assets/images/arrow-left.svg) no-repeat;
        }

        .next{
            background: url(../assets/images/arrow-right.svg) no-repeat;
            padding-right: 0;
        }
    }
}