<header id="header" class="clearfix" ng-include="'views/includes/header.html'"></header>

<div class="row">
    <section id="list" class="ktr-column ktr-column-12">
        <div class="row">
            <article class="ktr-column ktr-column-3 list--item">
                <i class="item--wished {{ favoriteIt }}"></i>
                
                <img src="http://placehold.it/700x700" alt="">
                <div class="">
                    <h1>Lorem ipsum</h1>
                    <p>Neque porro quisquam est qui</p>
                    <p class="price">€ 300 <span class="older-price">€ 400</span></p>
                </div>
                <a href="#" data-price="300" class="button">Add to cart</a>
            </article>

            <article class="ktr-column ktr-column-3 list--item">
                <i class="item--wished {{ favoriteIt }}"></i>
                
                <img src="http://placehold.it/700x700" alt="">
                <div class="">
                    <h1>Lorem ipsum</h1>
                    <p>Neque porro quisquam est qui</p>
                    <p class="price">€ 100</p>
                </div>
                <a href="#" data-price="100" class="button">Add to cart</a>
            </article>

            <article class="ktr-column ktr-column-3 list--item">
                <i class="item--wished {{ favoriteIt }}"></i>
                
                <img src="http://placehold.it/700x700" alt="">
                <div class="">
                    <h1>Lorem ipsum</h1>
                    <p>Neque porro quisquam est qui</p>
                    <p class="price">€ 200 <span class="older-price">€ 400</span></p>
                </div>
                <a href="#" data-price="200" class="button">Add to cart</a>
            </article>

            <article class="ktr-column ktr-column-3 list--item">
                <i class="item--wished {{ favoriteIt }}"></i>
                
                <img src="http://placehold.it/700x700" alt="">
                <div class="">
                    <h1>Lorem ipsum</h1>
                    <p>Neque porro quisquam est qui</p>
                    <p class="price">€ 50</p>
                </div>
                <a href="#" data-price="50" class="button">Add to cart</a>
            </article>
        </div>    
    </section>
</div>

<div class="row">
    <section id="pagination" class="ktr-column ktr-column-12">
        <ul class="clearfix">
            <li><a href="#" class="prev ir">Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#" class="next ir">Next</a></li>
        </ul>
    </section>
</div>

<div ng-include="'views/includes/footer.html'"></div>